.animation-container {
    --remote-width: 60px;
    --remote-height: 240px;
    --remote-depth: 45px;
    --remote-color: #ebebeb;
    --remote-shadow: inset 0 4px 8px rgba(120, 120, 120, 0.2);
    --remote-button-color: var(--green);
    --remote-button-shadow: 1px 1px 2px rgb(26 26 26 / 17%), inset 0 1px 2px rgb(255 255 255 / 74%);

    --console-width: 80px;
    --console-height: 300px;
    --console-depth: 300px;
    --console-color: #ebebeb;
    --console-shadow: inset 0 4px 8px rgba(120, 120, 120, 0.2);
    --console-stripe-color: var(--green);
    --console-stripe-shadow: 1px 1px 2px rgb(26 26 26 / 17%), inset 0 1px 2px rgb(255 255 255 / 74%);


    
    --phone-width: 110px;
    --phone-height: var(--remote-height);
    --phone-depth: 20px;
    --phone-color: #323232;
    --phone-shadow: inset 0 4px 8px rgba(120, 120, 120, 0.2);
    --phone-screen-color: white;
    --phone-screen-shadow: inset 0 0 10px rgb(60 60 60 / 74%);
    
    
    --laptop-width: 330px;
    --laptop-height: 15px;
    --laptop-depth: 250px;
    --laptop-color: #323232;
    --laptop-shadow: inset 0 4px 8px rgba(120, 120, 120, 0.2);
    --laptop-screen-color: white;
    --laptop-screen-shadow: inset 0 0 10px rgb(60 60 60 / 74%);

    --max-window-width: 800px;
    position: relative;
    width: 100%;
    max-width: var(--max-window-width);
    margin: 0 auto;
    aspect-ratio: 2;
    perspective: 1000px;
}
.animation-container > .scaler {
    position: absolute;
    transform-style: preserve-3d;
    transform-origin: top left;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    overflow: hidden;

    --current-scale: min(calc(100vw / var(--max-window-width)), 1);
    --sizer: calc(1 / var(--current-scale));
    height: calc(100% * var(--sizer));
    width: calc(100% * var(--sizer));
    transform: scale(var(--current-scale));
}
.animation-container > .scaler > .object {
    position: absolute;
    transform-style: preserve-3d;
    transform-origin: center;
}
.animation-container .object {
    object-fit: cover;
}

@media (max-width: 768px) {
    
}

.remote {
    width: var(--remote-width);
    height: var(--remote-height);
}
.remote > * {
    position: absolute;
    transform-origin: center;
    top: 0;
    left: 0;
    pointer-events: none;
}
.remote .side {
    box-shadow: var(--remote-shadow);
    background-color: var(--remote-color);
}


.remote .front {
    width: var(--remote-width);
    height: var(--remote-height);
    transform: translateZ(calc(var(--remote-depth) / 2));
}
.remote .back {
    width: var(--remote-width);
    height: var(--remote-height);
    transform: rotateY(180deg) translateZ(calc(var(--remote-depth) / 2));
}
.remote .top {
    width: var(--remote-width);
    height: var(--remote-depth);
    transform: rotateX(90deg) translateZ(calc(var(--remote-depth) / 2));
}
.remote .bottom {
    top: unset;
    bottom: 0;
    width: var(--remote-width);
    height: var(--remote-depth);
    transform: rotateX(270deg) translateZ(calc(var(--remote-depth) / 2));
}
.remote .left {
    width: var(--remote-depth);
    height: var(--remote-height);
    transform: rotateY(-90deg) translateZ(calc(var(--remote-depth) / 2));
}
.remote .right {
    left: unset;
    right: 0;
    width: var(--remote-depth);
    height: var(--remote-height);
    transform: rotateY(90deg) translateZ(calc(var(--remote-depth) / 2));
}
.remote .remote-button1,
.remote .remote-button2 {
    width: 20px;
    height: 20px;
    background-color: var(--remote-button-color);
    border-radius: 6px;
    top: 35%;
    left: 50%;
    transform: translateX(-50%) translateZ(calc(var(--remote-depth) / 2 + 1px));
    box-shadow: var(--remote-button-shadow);
}
.remote .remote-button2 {
    top: 20%;
}


.console {
    width: var(--console-width);
    height: var(--console-height);
}
.console > * {
    position: absolute;
    transform-origin: center;
    top: 0;
    left: 0;
    pointer-events: none;
}
.console .side {
    box-shadow: var(--console-shadow);
    background-color: var(--console-color);
    overflow: hidden;
}

.console .front {
    width: var(--console-width);
    height: var(--console-height);
    transform: translateZ(calc(var(--console-depth) / 2));
}
.console .back {
    width: var(--console-width);
    height: var(--console-height);
    transform: rotateY(180deg) translateZ(calc(var(--console-depth) / 2));
}
.console .top {
    width: var(--console-width);
    height: var(--console-depth);
    transform: rotateX(90deg) translateZ(calc(var(--console-depth) / 2));
}
.console .bottom {
    top: unset;
    bottom: 0;
    width: var(--console-width);
    height: var(--console-depth);
    transform: rotateX(270deg) translateZ(calc(var(--console-depth) / 2));
}
.console .left {
    width: var(--console-depth);
    height: var(--console-height);
    transform: rotateY(-90deg) translateZ(calc(var(--console-depth) / 2));
}
.console .right {
    left: unset;
    right: 0;
    width: var(--console-depth);
    height: var(--console-height);
    transform: rotateY(90deg) translateZ(calc(var(--console-depth) / 2));
}
.console .stripe {
    position: absolute;
    width: 10px;
    height: 100%;
    background-color: var(--console-stripe-color);
    bottom: 0;
    right: 30%;
    box-shadow: var(--console-stripe-shadow);
    transform: rotate(45deg);
}








.phone {
    width: var(--phone-width);
    height: var(--phone-height);
}
.phone > * {
    position: absolute;
    transform-origin: center;
    top: 0;
    left: 0;
    pointer-events: none;
}
.phone .side {
    box-shadow: var(--phone-shadow);
    background-color: var(--phone-color);
}


.phone .front {
    width: var(--phone-width);
    height: var(--phone-height);
    transform: translateZ(calc(var(--phone-depth) / 2));
}
.phone .back {
    width: var(--phone-width);
    height: var(--phone-height);
    transform: rotateY(180deg) translateZ(calc(var(--phone-depth) / 2));
}
.phone .top {
    width: var(--phone-width);
    height: var(--phone-depth);
    transform: rotateX(90deg) translateZ(calc(var(--phone-depth) / 2));
}
.phone .bottom {
    top: unset;
    bottom: 0;
    width: var(--phone-width);
    height: var(--phone-depth);
    transform: rotateX(270deg) translateZ(calc(var(--phone-depth) / 2));
}
.phone .left {
    width: var(--phone-depth);
    height: var(--phone-height);
    transform: rotateY(-90deg) translateZ(calc(var(--phone-depth) / 2));
}
.phone .right {
    left: unset;
    right: 0;
    width: var(--phone-depth);
    height: var(--phone-height);
    transform: rotateY(90deg) translateZ(calc(var(--phone-depth) / 2));
}
.phone .screen {
    width: 90%;
    height: 90%;
    background-color: var(--phone-screen-color);
    border-radius: 7px;
    margin: 5% auto;
    box-shadow: var(--phone-screen-shadow);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20%;
}
.phone .screen img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: translateY(-5%);
}





.laptop {
    width: var(--laptop-width);
    height: var(--laptop-height);
}
.laptop .keyboard,
.laptop .display {
    position: absolute;
    transform-style: preserve-3d;
    transform-origin: center;
    width: var(--laptop-width);
    height: var(--laptop-height);
}
.laptop .keyboard > *,
.laptop .display > * {
    position: absolute;
    transform-origin: center;
    top: 0;
    left: 0;
    pointer-events: none;
}
.laptop .display {
    transform-origin: 0 0 calc(var(--laptop-depth) / -2);
}
.laptop .keyboard .side,
.laptop .display .side {
    box-shadow: var(--laptop-shadow);
    background-color: var(--laptop-color);
}


.laptop .keyboard .front,
.laptop .display .front {
    width: var(--laptop-width);
    height: var(--laptop-height);
    transform: translateZ(calc(var(--laptop-depth) / 2));
}
.laptop .display .front {
    transform: translateZ(calc(var(--laptop-depth) * -.5));
}
.laptop .keyboard .back,
.laptop .display .back {
    width: var(--laptop-width);
    height: var(--laptop-height);
    transform: rotateY(180deg) translateZ(calc(var(--laptop-depth) / 2));
}
.laptop .display .back {
    transform: rotateY(180deg) translateZ(calc(var(--laptop-depth) * 1.5));
}
.laptop .keyboard .top,
.laptop .display .top {
    width: var(--laptop-width);
    height: var(--laptop-depth);
    transform: rotateX(90deg) translateZ(calc(var(--laptop-depth) / 2));
}
.laptop .display .top {
    transform: translateZ(calc(var(--laptop-depth) * -1)) rotateX(90deg) translateZ(calc(var(--laptop-depth) / 2));
}
.laptop .keyboard .bottom,
.laptop .display .bottom {
    top: unset;
    bottom: 0;
    width: var(--laptop-width);
    height: var(--laptop-depth);
    transform: rotateX(270deg) translateZ(calc(var(--laptop-depth) / 2));
}
.laptop .display .bottom {
    transform: translateZ(calc(var(--laptop-depth) * -1)) rotateX(270deg) translateZ(calc(var(--laptop-depth) / 2));
}
.laptop .keyboard .left,
.laptop .display .left {
    width: var(--laptop-depth);
    height: var(--laptop-height);
    transform: rotateY(-90deg) translateZ(calc(var(--laptop-depth) / 2));
}
.laptop .display .left {
    transform: translateZ(calc(var(--laptop-depth) * -1)) rotateY(-90deg) translateZ(calc(var(--laptop-depth) / 2));
}
.laptop .keyboard .right,
.laptop .display .right {
    left: unset;
    right: 0;
    width: var(--laptop-depth);
    height: var(--laptop-height);
    transform: rotateY(90deg) translateZ(calc(var(--laptop-depth) / 2));
}
.laptop .display .right {
    transform: translateZ(calc(var(--laptop-depth) * -1)) rotateY(90deg) translateZ(calc(var(--laptop-depth) / 2));
}
.laptop .display .screen {
    width: calc(var(--laptop-width) - 10px);
    height: calc(var(--laptop-depth) - 25px);
    border-radius: 7px;
    background-color: var(--laptop-screen-color);
    box-shadow: var(--laptop-screen-shadow);
    margin: 7px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8%;
}
.laptop .display .screen img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transform: translateY(-5%);
}












.label {
    position: absolute;
    top: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #323232;
    text-shadow: 1px 1px 2px rgb(26 26 26 / 17%), inset 0 1px 2px rgb(255 255 255 / 74%);
}