:root {
    --remote-width: 60px;
    --remote-height: 250px;
    --remote-depth: 50px;
    --remote-color: #ebebeb;
    --remote-shadow: inset 0 4px 8px rgba(120, 120, 120, 0.2);

    --console-width: 80px;
    --console-height: 300px;
    --console-depth: 300px;
    --console-color: #ebebeb;
    --console-shadow: inset 0 4px 8px rgba(120, 120, 120, 0.2);
}
.remote .front,
.console .front {
    background-color: gray;
}

.animation-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    perspective: 1000px;
    overflow: hidden;
}

.remote {
    position: relative;
    width: var(--remote-width);
    height: var(--remote-height);
    transform-style: preserve-3d;
}
.remote > * {
    position: absolute;
    background-color: var(--remote-color);
    box-shadow: var(--remote-shadow);
    transform-origin: center;
    top: 0;
    left: 0;
    pointer-events: none;
}

.remote .front {
    width: var(--remote-width);
    height: var(--remote-height);
    transform: translateZ(calc(var(--remote-depth) / 2));
}
.remote .back {
    width: var(--remote-width);
    height: var(--remote-height);
    transform: rotateY(180deg) translateZ(calc(var(--remote-depth) / 2));
}
.remote .top {
    width: var(--remote-width);
    height: var(--remote-depth);
    transform: rotateX(90deg) translateZ(calc(var(--remote-depth) / 2));
}
.remote .bottom {
    top: unset;
    bottom: 0;
    width: var(--remote-width);
    height: var(--remote-depth);
    transform: rotateX(270deg) translateZ(calc(var(--remote-depth) / 2));
}
.remote .left {
    width: var(--remote-depth);
    height: var(--remote-height);
    transform: rotateY(-90deg) translateZ(calc(var(--remote-depth) / 2));
}
.remote .right {
    left: unset;
    right: 0;
    width: var(--remote-depth);
    height: var(--remote-height);
    transform: rotateY(90deg) translateZ(calc(var(--remote-depth) / 2));
}


.console {
    position: relative;
    width: var(--console-width);
    height: var(--console-height);
    transform-style: preserve-3d;
}
.console > * {
    position: absolute;
    box-shadow: var(--console-shadow);
    background-color: var(--console-color);
    transform-origin: center;
    top: 0;
    left: 0;
    pointer-events: none;
}

.console .front {
    width: var(--console-width);
    height: var(--console-height);
    transform: translateZ(calc(var(--console-depth) / 2));
}
.console .back {
    width: var(--console-width);
    height: var(--console-height);
    transform: rotateY(180deg) translateZ(calc(var(--console-depth) / 2));
}
.console .top {
    width: var(--console-width);
    height: var(--console-depth);
    transform: rotateX(90deg) translateZ(calc(var(--console-depth) / 2));
}
.console .bottom {
    top: unset;
    bottom: 0;
    width: var(--console-width);
    height: var(--console-depth);
    transform: rotateX(270deg) translateZ(calc(var(--console-depth) / 2));
}
.console .left {
    width: var(--console-depth);
    height: var(--console-height);
    transform: rotateY(-90deg) translateZ(calc(var(--console-depth) / 2));
}
.console .right {
    left: unset;
    right: 0;
    width: var(--console-depth);
    height: var(--console-height);
    transform: rotateY(90deg) translateZ(calc(var(--console-depth) / 2));
}