.remote, .console {
    transform: var(--resting);
    will-change: transform;
    animation:
        float-apart var(--float-duration)
            ease-in-out var(--float-delay) forwards,
        drop-off var(--drop-duration)
            linear var(--drop-delay) forwards;
}
.remote {
    z-index: 2;

    /* == Timing == */
    --float-delay: 2s;
    --float-duration: 2.2s;
    --drop-delay: 4.2s;
    --drop-duration: 0.05s;
    
    /* == Positions == */
    --resting: translateZ(25px) translateY(38px) translateX(-50px)
        rotateY(-38deg) rotateX(22deg);
    --floated-away: translateZ(140px) translateY(0px) translateX(-191px)
        rotateY(23deg) rotateX(4deg) rotateZ(0deg);
    --dropped: translateZ(140px) translateY(300px) translateX(-191px)
        rotateY(23deg) rotateX(-76deg) rotateZ(0deg);
}
.console {
    z-index: 1;

    /* == Timing == */
    --float-delay: 2s;
    --float-duration: 2.2s;
    --drop-delay: 5.2s;
    --drop-duration: 0.05s;
    
    /* == Positions == */
    --resting: translateZ(0px) translateY(0px) translateX(35px)
        rotateY(20deg) rotateX(0deg);
    --floated-away: translateZ(-120px) translateY(30px) translateX(190px)
        rotateY(-22deg) rotateX(-6deg) rotateZ(90deg);
    --dropped: translateZ(-120px) translateY(400px) translateX(190px)
        rotateY(-22deg) rotateX(12deg) rotateZ(90deg);
}

@keyframes float-apart {
    from {
        transform: var(--resting);
    }
    to {
        transform: var(--floated-away);
    }
}

@keyframes drop-off {
    from {
        transform: var(--floated-away);
    }
    to {
        transform: var(--dropped);
    }
}










.phone, .laptop {
    transform: var(--starting);
    will-change: transform;
    animation:
        drop-on var(--drop-duration)
            cubic-bezier(0.64, 0.01, 1, 1) var(--initial-delay) forwards,
        spin var(--spin-duration)
            ease-out var(--spin-delay) forwards;
}
.phone {
    /* == Timing == */
    --initial-delay: 4s;
    --drop-duration: 0.4s;
    --spin-delay: calc(var(--initial-delay) + var(--drop-duration));
    --spin-count: 2;
    --spin-duration: 1.8s;
    
    /* == Positions == */
    --starting: translateZ(0px) translateY(-400px) translateX(-225px)
        rotateY(0deg) rotateX(4deg);
    --dropped: translateZ(0px) translateY(0px) translateX(-225px)
        rotateY(-360deg) rotateX(4deg);
    --resting: translateZ(0px) translateY(0px) translateX(-225px)
        rotateY(calc(var(--spin-count) * -360deg + 30deg)) rotateX(4deg);
}
.laptop {
    /* == Timing == */
    --initial-delay: 5s;
    --drop-duration: 0.4s;
    --spin-delay: calc(var(--initial-delay) + var(--drop-duration));
    --spin-count: 2;
    --spin-duration: 1.8s;
    
    /* == Positions == */
    --starting: translateZ(55px) translateY(-400px) translateX(125px)
        rotateY(0deg) rotateX(4deg);
    --dropped: translateZ(55px) translateY(90px) translateX(125px)
        rotateY(-360deg) rotateX(-3deg);
    --resting: translateZ(55px) translateY(110px) translateX(125px)
        rotateY(calc(var(--spin-count) * -360deg - 31deg)) rotateX(-3deg);
}
.laptop .display {
    --delay: 6.2s;
    --closed: rotateX(180deg);
    --open: rotateX(275deg);

    transform: var(--closed);
    animation: screen-open 1s ease-out var(--delay) forwards;
}
.animation-container {
    --screen-off: brightness(0);
    --screen-on: brightness(1);
    --screen-on-delay: 7.2s;
}

@keyframes drop-on {
    from {
        transform: var(--starting);
    }
    to {
        transform: var(--dropped);
    }
}
@keyframes spin {
    from {
        transform: var(--dropped);
    }
    to {
        transform: var(--resting);
    }
}
@keyframes screen-open {
    from {
        transform: var(--closed);
    }
    to {
        transform: var(--open);
    }
}

.phone .screen,
.laptop .display .screen {
    filter: var(--screen-off);
    animation: screen-on 0.5s ease-out var(--screen-on-delay) forwards;
}
@keyframes screen-on {
    from {
        filter: var(--screen-off);
    }
    to {
        filter: var(--screen-on);
    }
}